.promotionsSection{
    margin-top: 100px;
    font-size: 120%;
    padding: 10px;
    border: 3px solid white;
    border-radius: 20px;
    width: 50%;
}

#promotionDate{
    font-weight: 700;
    font-size: 80%;
}