.thumbnailOrVideoContainer{
    border: 3px solid white;
    padding: 1rem;
    border-radius: 15px;
    margin: 10px auto;
}

.thumbnailOrVideoButton{
    font-weight: 500;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    margin-top: 15px;
    width: 50%;
}

.videoDescription{
    font-size: large;
    font-weight: 700;
}