@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    width:100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    /* background: lightgray 0% 0% / 100px 100px repeat, #720026; */
    background: #720026;
    color: white;
}