.carrousel{
    width: 100vw;
}

.opinionSection{
 font-family: 'Lora';
 font-size: 40px;
 width: 100vw;
}

.opinionsDescription{
    font-size: 75%;
}


.notSelected{
    height: 250px;
}

.selected{
    height: 300px;
}